////////////////////////////////
// ABOUT US
////////////////////////////////
.about-us{
  .title{
    text-align: center;
  }

  /////////////////////
  // HEROE BANNER
  /////////////////////
  .heroe-banner{
  	position: relative;
  	height: 80vh;
    max-height: 360px;
  	background: url($images_path+'aboutus-bg.jpg') center no-repeat;
  	background-size: cover;

  	// Tagline
    .title{
    	width: 90%;
    	position: absolute;
    	@include center-content(50%, 50%)
      margin: auto;
      text-transform: uppercase;
    }

    //////////////////////////////////
    // <MEDIA QUERIES
    //////////////////////////////////
    @media screen and (min-width: $bp-tablet-sm){
      .title{
        @include type-setting(4);
        text-align: right;
        line-height: 1em;
        right: 0.5em;
        bottom: 20px;
        transform: none;
        width: auto;
        top: auto; left: auto;
      }
    }
    @media screen and (min-width: $bp-tablet-m){
      .title{
        @include type-setting(6);
        line-height: 1.1em;
      }
    }
    @media screen and (min-width: $bp-desktop-m){
      max-height: 540px;
    }
  }

  /////////////////////
  // INFORMATION
  /////////////////////
  .information{
    position: relative;

    &--closed{
      max-height: 400px;
      overflow: hidden;

      &:after{
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 110px;
        bottom: 0; left: 0;
        border-bottom: solid white 1em;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.7+61,1+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 61%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 61%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 61%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
      }
    }

    &__flag{
      max-width: 20em;
      margin: 0 auto;
    }


    //////////////////////////////////
    // <MEDIA QUERIES
    //////////////////////////////////
    @media screen and (min-width: $bp-desktop-m){
      display: flex;
      flex-flow: row ;
      justify-content: space-between;
      max-height: none;

      &__content{
        z-index: 1;
        width: 50%
      }
      &__flag{
        margin: 0;
        width: 45%;
        max-width: 30em
      }
    }
  }
  
  /////////////////////
  // BIOGRAPHY
  /////////////////////
  .biography{
    position: relative;
    .title-main{
      margin: 0;
    }

    //////////////////////////////////
    // <MEDIA QUERIES
    //////////////////////////////////
    @media screen and (min-width: $bp-tablet-m){
      background-image: url($images_path+'aboutus-bg2.jpg');
      .title-main{
        margin-bottom: 1em;
        line-height: 1em;
      }
    }
    @media screen and (min-width: $bp-desktop-m){
      &:before{
        content: '';
        display: block;
        position: absolute;
        width: percentage(1100/$context);
        height: 100%;
        right: 0; top: 0;
        background: rgba(#000, 0.5)
      }
      // Section Module
      .section__module{
        display: flex;
        flex-flow: row ;
        justify-content: space-between;
      }

      &__content{
        z-index: 1;
        width: percentage(968/$context)
      }
      &__title{
        order: -1;
        margin: 0;
        width: percentage(800/$context)
      }
    }
  }
}
