////////////////////////////////
// OUR SERVICES
////////////////////////////////
.our-services{
	.modalbox{
		background: $color3;
	}
	.section__module{
		//padding: 0;
	}

	/////////////////
	// SERVICES NAV
	&__navigation{ position: relative; }

	/////////////////
	// SERVICES MENU
	&__menu{
		position: relative;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		text-align: center;

		// Service
		.section{
			@include responsive-container(100%);
			width: 50%;
		  	margin: auto;
		  	background: $color;
		  	color: white;
		  	text-align: center;
		  	transition: background 180ms;

			// States
			&:before{ opacity: 0; transition: opacity 160ms; }
		  	&.active,
		  	&:hover{
		  		background: $color4;
		  		&:before{
		  			opacity: 1;
		  			background: cyan;
		  			mix-blend-mode: multiply;
		  		}
		  	}

		  	// Link/Title
		  	&__link{
				position: absolute;
				width: 100%; height: 100%;
				top: 0; left: 0;
		  	}
		  	&__title{
		  		position: absolute;
		  		margin: auto;
		  		font-weight: 600;
		  		@include center-content(50%, 50%);
		  		@include type-setting(1);
		  	}
		}

		$services-background: (
			patents: $images_path+'services/patents.jpg',
			trademarks: $images_path+'services/trademarks.jpg',
			litigation: $images_path+'services/litigation.jpg',
			enforcement: $images_path+'services/enforcement.jpg',
			copyright: $images_path+'services/copyright.jpg',
			personal-data-protection: $images_path+'services/data-protection.jpg'
		);
		@each $name, $icon in $services-background {
			.section.#{$name}{
				background: url($icon) no-repeat center;
				background-size: cover;
				mix-blend-mode: multiply;
			}
		}

		//////////////////////////////////
		// <MEDIA QUERIES
		//////////////////////////////////
		@media screen and (min-width: $bp-tablet-m){
			.section{
				width: 33.333%;
				@include responsive-container(75%);
			}
		}
	}

	/////////////////////////////////////////////////
	// MEDIA QUERIES
	/////////////////////////////////////////////////
	@media screen and (min-width: $bp-tablet-m){
		$services-background: (
			patents: $images_path+'services/patents-bg.jpg',
			trademarks: $images_path+'services/trademarks-bg.jpg',
			litigation: $images_path+'services/litigation-bg.jpg',
			enforcement: $images_path+'services/enforcement-bg.jpg',
			copyright: $images_path+'services/copyright-bg.jpg',
			data-protection: $images_path+'services/data-protection-bg.jpg'
		);
		@each $name, $icon in $services-background {
			.modalbox.#{$name}{
				background: url($icon) no-repeat center;
				background-size: cover;
			}
		}
	}
	@media screen and (min-width: $bp-tablet-l){
		//
		&__list{
			
			.service{
				display: flex;
				flex-flow: row nowrap;
				&.patents .service__content{
					width: 60%;
				}
				&.trademarks .service__content{
					width: 65%;
					margin: auto;
					text-align: center;
				}
				&.litigation{
					justify-content: flex-end;
					.service__content{
						width: 60%;
						text-align: right;
					}
				}
				&.copyright .service__content{
					width: 65%;
					margin: auto;
					text-align: center;
				}
				&.enforcement .service__content{
					width: 60%;
				}
				&.personal-data-protection{
					justify-content: flex-end;
					.service__content{
						width: 60%;
						text-align: right;
					}
				}
			}
		}
	}
}
